:root {
	/* Color Palette */
	--background: #555;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background: var(--background);
	display: flex;
	font-family: "Luckiest Guy", cursive;
	height: 100vh;
	justify-content: center;
	max-height: 100%;
	max-width: 100%;
	touch-action: manipulation;
	width: 100vw;
}

button {
	align-items: center;
	background-color: #b22;
	border-radius: 8px;
	border: 2px solid #000;
	box-shadow: 0 0 0 2px #fff, 2px 2px 8px #111;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	justify-content: center;
	margin: 4px;
	text-shadow: 0 -1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000,
		-1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
	width: 120px;
}

button:active {
	background-color: #a22;
}

header {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 24px;
	font-weight: bold;
	justify-content: space-around;
	max-width: 560px;
	padding: 8px 16px;
	text-align: center;
	width: 100%;
}

main {
	align-items: center;
	background-color: #d94; /* Average of background image */
	background-image: url("images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid #777;
	border-top: 8px solid #777;
	box-shadow: inset 0 -4px 0 0 #999, inset 0 4px 0 0 #555,
		inset 0 8px 12px 0 #111, 0 -4px 0 0 #999, 0 4px 0 0 #555,
		0 8px 12px 0 #111;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	max-height: 800px;
	padding: 16px 0 8px;
	width: 100%;
}

ul {
	list-style-type: none;
}

.board {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: calc(100% - 80px);
	justify-content: center;
	max-height: 720px;
	max-width: 560px;
	padding: 8px;
	width: 100%;
}

.card {
	align-items: center;
	display: flex;
	height: calc((100% - 72px) / 4);
	justify-content: center;
	margin: 8px;
	perspective: 1000px;
	width: calc((100% - 72px) / 4);
}

.card-back,
.card-front {
	align-items: center;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 8px;
	border: 2px solid #000;
	box-shadow: 0 0 0 4px #fff;
	display: flex;
	font-size: 80px;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.card-back {
	/* Ride-Waite Plaid */
	background: repeating-linear-gradient(
			45deg,
			rgba(17, 102, 187, 0.5) 0 1px,
			transparent 1px 11px,
			rgba(17, 102, 187, 0.5) 11px 12px,
			transparent 12px 13px,
			rgba(17, 102, 187, 0.5) 13px 14px,
			transparent 14px 15px,
			rgba(17, 102, 187, 0.5) 15px 16px,
			transparent 16px 17px,
			rgba(17, 102, 187, 0.5) 17px 18px,
			transparent 18px 21px,
			rgba(17, 102, 187, 0.5) 21px 24px,
			transparent 24px 25px,
			rgba(17, 102, 187, 0.5) 25px 26px,
			transparent 26px 27px,
			rgba(17, 102, 187, 0.5) 27px 30px,
			transparent 30px 31px,
			rgba(17, 102, 187, 0.5) 31px 32px,
			transparent 32px 33px,
			rgba(17, 102, 187, 0.5) 33px 36px,
			transparent 36px 39px,
			rgba(17, 102, 187, 0.5) 39px 40px,
			transparent 40px 41px,
			rgba(17, 102, 187, 0.5) 41px 42px,
			transparent 42px 43px,
			rgba(17, 102, 187, 0.5) 43px 44px,
			transparent 44px 45px,
			rgba(17, 102, 187, 0.5) 45px 46px,
			transparent 46px 56px,
			rgba(17, 102, 187, 0.5) 56px 57px
		),
		repeating-linear-gradient(
			135deg,
			rgba(0, 0, 0, 0.5) 0 1px,
			transparent 1px 11px,
			rgba(0, 0, 0, 0.5) 11px 12px,
			transparent 12px 13px,
			rgba(0, 0, 0, 0.5) 13px 14px,
			transparent 14px 15px,
			rgba(0, 0, 0, 0.5) 15px 16px,
			transparent 16px 17px,
			rgba(0, 0, 0, 0.5) 17px 18px,
			transparent 18px 21px,
			rgba(0, 0, 0, 0.5) 21px 24px,
			transparent 24px 25px,
			rgba(0, 0, 0, 0.5) 25px 26px,
			transparent 26px 27px,
			rgba(0, 0, 0, 0.5) 27px 30px,
			transparent 30px 31px,
			rgba(0, 0, 0, 0.5) 31px 32px,
			transparent 32px 33px,
			rgba(0, 0, 0, 0.5) 33px 36px,
			transparent 36px 39px,
			rgba(0, 0, 0, 0.5) 39px 40px,
			transparent 40px 41px,
			rgba(0, 0, 0, 0.5) 41px 42px,
			transparent 42px 43px,
			rgba(0, 0, 0, 0.5) 43px 44px,
			transparent 44px 45px,
			rgba(0, 0, 0, 0.5) 45px 46px,
			transparent 46px 56px,
			rgba(0, 0, 0, 0.5) 56px 57px
		);
	background-color: #ddd;
}

.card-front {
	padding-bottom: 8px;
	transform: rotateY(180deg);
}

.card-inner {
	border-radius: 12px;
	border: 4px solid transparent;
	box-shadow: 2px 2px 8px 0 #111;
	cursor: pointer;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.33s ease;
	width: 100%;
}

.card-inner.faceup,
.card-inner.match {
	box-shadow: -2px 2px 8px 0 #111;
	cursor: auto;
	transform: rotateY(180deg);
}

.clock,
.move-counter {
	color: #000;
	cursor: default;
	text-shadow: 0 -1px #fff, 1px 0 #fff, 0 -1px #fff, -1px 0 #fff,
		-1px -1px #fff, 1px -1px #fff, 1px 1px #fff, -1px 1px #fff,
		2px 2px 8px #111;
}

.move-counter {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.score-panel.left,
.score-panel.right {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 80px;
	justify-content: space-between;
	width: 120px;
}

.score {
	display: flex;
	justify-content: space-between;
}

.star {
	align-items: center;
	background-color: #16b;
	border-radius: 40px;
	border: 2px solid #000;
	box-shadow: 0 0 0 2px #fff, 2px 2px 8px #111;
	cursor: default;
	display: flex;
	font-size: 24px;
	height: 40px;
	justify-content: center;
	margin: 4px;
	padding-bottom: 4px;
	text-shadow: none;
	width: 40px;
}

.modal {
	align-items: center;
	background-color: rgba(221, 221, 221, 0.9);
	border-radius: 8px;
	border: 2px solid #000;
	box-shadow: 0 0 0 4px #fff;
	cursor: default;
	display: flex;
	flex-direction: column;
	font-size: 32px;
	font-weight: bold;
	justify-content: center;
	line-height: 1;
	max-width: 640px;
	padding: 16px;
	position: absolute;
	text-align: center;
	text-shadow: 0 -1px #fff, 1px 0 #fff, 0 -1px #fff, -1px 0 #fff,
		-1px -1px #fff, 1px -1px #fff, 1px 1px #fff, -1px 1px #fff,
		2px 2px 4px #111;
	width: 100%;
	z-index: 1;
}

.modal button {
	border-radius: 12px;
	border: 2px solid #000;
	box-shadow: 0 0 0 2px #fff, 2px 2px 8px #111;
	color: #fff;
	font-size: 32px;
	height: 60px;
	margin-top: 8px;
	text-shadow: 0 -1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000,
		-1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
	width: 240px;
}

.modal .clock {
	color: #fff;
	font-size: 72px;
	text-shadow: 0 -1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000,
		-1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000,
		2px 2px 4px #111;
}

.modal .score {
	margin-bottom: 8px;
}

.modal .score .star {
	font-size: 36px;
	height: 60px;
	width: 60px;
}

.🌑 {
	background-color: #777;
}

.🌒 {
	background-image: linear-gradient(to right, #777 50%, #fd3);
}

.🌓 {
	background-image: linear-gradient(to right, #777 25%, #fd3);
}

.🌔 {
	background-image: linear-gradient(to right, #777, #fd3);
}

.🌕 {
	background-color: #fd3;
}

.🌖 {
	background-image: linear-gradient(to right, #fd3, #777);
}

.🌗 {
	background-image: linear-gradient(to right, #fd3 25%, #777);
}

.🌘 {
	background-image: linear-gradient(to right, #fd3 50%, #777);
}

@media (hover: hover) {
	button:hover:not(:active) {
		background-color: #c22;
	}
}
